header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

a, a:visited {
  text-decoration: none;
  color: darkblue;
  margin-left: 0.5rem;
}